    </div>
</section>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Book Management</strong> - An example application.
                </p>
            </div>
        </footer>
    </body>
</html>